/***** Root Variables *****/
:root {
  --primary-bg: #090208;
  --primary-text: #00f8c6;
}

/***** Fonts *****/
.handjet-regular {
  font-family: "Handjet", serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}

.notable-regular {
  font-family: "Notable", serif;
  font-weight: 400;
  font-style: normal;
}

.space-grotesk {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.glow-text {
  text-shadow: 1px 1px 5px #00c0fe80, 1px 1px 10px #00c0fe66,
    1px 1px 15px #00c0fe4d, 1px 1px 20px #00c0fe33;
  transition-duration: 0.25s;
}

/* .glow-text:hover {
    color: #e8ff01;
    text-shadow: 
        3px 3px 10px #ffff00b3,
        3px 3px 20px #ffff0099,
        3px 3px 30px #ffff0080,
        3px 3px 40px #ffff0066;
} */

/***** Global *****/
body {
  box-sizing: border-box;
  background-image: url("https://img.freepik.com/premium-photo/black-textured-wallpaper_926199-419983.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--primary-text);
  width: 70%;
  padding: 10px;
  margin: auto;
  /* border: 3px solid hotpink; */
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: circle;
  width: 100px;
}

.upper {
  text-transform: uppercase;
}

h1 {
  letter-spacing: 5px;
}

h3 {
  font-size: 3rem;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
}

/***** Bio Section *****/
.biography {
  display: flex;
  justify-content: space-between;
  flex-direction: wrap;
  gap: 20px;
  /* margin: auto;
  padding: 0; */
  /* border: 3px solid red; */
}

.bio h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

.underline {
  background-color: #00f8c6ad;
  border: 2px dotted #03ffffd7;
  width: 425px;
  height: 5px;
  padding: 0;
}

.socials {
  width: 225px;
  margin-top: 10px;
  font-size: 1.5rem;
  letter-spacing: 5px;
}

.socials i:hover {
  color: #ff69b4c7;
}

.about-me {
  width: 600px;
  padding: 0px 10px 0px 10px;
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}

.about-me p {
  font-weight: 300;
}

.outer-border {
  margin: 0;
  padding: 0;
  border: 2.5px solid var(--primary-text);
  border-radius: 5px;
  width: 100%;
}

/***** Head Shot Section *****/
.headshot {
  overflow: hidden;
  border: 4px solid var(--primary-text);
  margin: 50px 75px 50px 10px;
  background-color: #171516;
}
.headshot img {
  width: 250px;
  height: auto;
  padding: 0;
}

/***** Contact Section *****/
.container {
  /* border: 3px solid orange; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.contact-me {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  border: 3px dotted var(--primary-text);
  width: 100%;
  max-width: 250px;
  height: fit-content;
  margin-left: 15px;
}

.contact-me h4 {
  text-align: center;
  font-size: 2em;
  letter-spacing: 3px;
  margin: 5px 10px;
  padding: 0 5px 0 5px;
}

.contact-form {
  margin: 0px 10px;
  padding: 10px;
}

.contact-form label {
  display: block;
  margin-bottom: 3px;
  font-size: 1em;
}

.contact form input,
textarea {
  display: flex;
  justify-content: end;
  width: 200px;
  margin: 0;
  padding: 0;
}

.contact form button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-bg);
  color: var(--primary-text);
  border: 2px solid var(--primary-text);
  border-radius: 3px;
  height: 2.5em;
}

.contact form button:hover {
  background-color: var(--primary-text);
  color: var(--primary-bg);
}

/***** Project List Section *****/
.project-list {
  /* border: 3px solid white; */
  width: 100%;
  max-width: 60%;
  margin-top: 5px !important;
  padding: 0;
}
.project-list h2 {
  display: flex;
  justify-content: space-evenly;
  font-size: 3rem;
  letter-spacing: 2px;
  margin: 0 0 10px 0
}

.project-container {
  margin: 10px;
  padding: 20px;
  border: 2px dotted #00f8c6;
}

.content {
  /* border: 3px solid yellow; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.project-list {
  margin-top: 50px;
  position: relative;
  left: -50px;
}

.indv-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.indv-project h4 {
  font-size: 3rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.indv-project h5 {
  font-weight: 300;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.icons {
  max-width: 30%;
}

.icons p {
  text-align: center;
}

.icons i {
  padding: 2px;
  font-size: 24px;
}

.indv-project ul {
  list-style-type: none;
  width: 120px;
  text-align: center;
  padding: 0;
  font-size: 0.75rem;
}

.content figure {
  margin: -50px auto 20px;
}

.project-img {
  max-width: 100%;
  border: 3px dotted #ff69b4c7;
}

figcaption {
  text-align: end;
}

figcaption a:hover {
  color: #ff69b4c7;
}

/***** Responsive Styles *****/
@media (max-width: 1420px) {
  .headshot {
    display: none;
  }
}
@media (max-width: 1200px) {
  .biography {
    margin: auto;
  }
  .container {
    flex-direction: column-reverse;
  }
  .project-list {
    margin: 0 auto;
    width: 80%;
    position: static;
  }
  .contact-me {
    margin: auto;
  }
}
@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    /* max-width: 100%; */
  }

  /* Bio Section */
  .biography {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .bio {
    width: 100%;
  }

  .about-me {
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  .socials {
    margin: 10px auto;
  }

/* Contact Section */
  .contact-me {
    width: 100%;
    max-width: 90%;
    margin: 20px auto;
    height: auto;
    padding: 20px;
  }

/* Project List Section */
  .project-list {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    position: static;
    padding: 20px;
  }

  .indv-project {
    flex-direction: column;
    align-items: center;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .content figure {
    margin: 20px auto;
  }

}







